  
<footer class="mt-0"style="background-color:#00656D;">
    <!--Footer mobile-->
    <div class="d-sm-block d-md-none">
        <div class="container-fluid fondo-footer pt-3" >
            <div class="row">
                <!--Redes Footer-->
                <div class="col-10 d-flex justify-content-between align-items-center redes-footer mt-3 mx-auto">
                    <a href="https://www.instagram.com/battioligroup">Instagram</a>
                   
                </div>
                <!--Logo footer-->
                <div class="col-12 mt-4 mb-0 pb-0">
                    <div class="col-12 text-center">
                        <a href="#"><img src="/images/logobattioli.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto"></a>
                    </div>
                    <div class="col-12 text-center">
                        <a href="https://github.com/GonzaloMigliore"><p class="copyright-footer-grande mx-auto mt-5" >© 2021 Copyright: Gonzalo Migliore</p></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer tablet para arriba-->
    <div class="d-none d-md-block">
        <div class="container-fluid fondo-footer redes-footer">
            <div class="row pt-5">
                <!--Mapa del sitio-->
                <div class="col-7 d-flex justify-content-around mapa-footer mapa-del-sitio">
                   
                    <!--Marcas-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold" style="color: black;">Login
                        </p>
                        <a href="/login">Iniciar sesión</a>
                        <a href="/registro">Crear cuenta</a>
                      
                    </div>
                    <!--Soporte-->
                    <div class="col-2 d-flex flex-column">
                        <p 
                        class="font-weight-bold"style="color: black;">Soporte</p>
                        <a href="/contacto">Contacto</a>
                            <a href="https://api.whatsapp.com/send?phone= +1 (305) 775 - 9044">
                           Whatsapp</a>
                    </div>
                    <!--Sobre Nosotros-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold"style="color: black;">Sobre BATTIOLI</p>
                        <a href="/nosotros">Nosotros</a>
                        <a href="/nosotros">Proposito</a>
                        <a href="/servicios">Servicios</a>
                    </div>
                </div>
                <!--Redes, logo y TC-->
                <div class="col-5 mapa-footer">
                    <!--Redes Footer-->
                    <div class="col-12 d-flex justify-content-around">
                        <a href="https://www.instagram.com/battioligroup">Instagram</a>
                     
                    </div>
                    <!--Logo Footer-->
                    <div class="col-12 logo-footer">
                        <div class="col-12 text-center">
                            <a href="/"><img src="/images/logobattioli.png" alt="Logo Sneakerest" class="logo-footer-grande mx-auto mt-5"></a>
                        </div>
                        <div class="col-12 text-center"style="color: black;">
                           <a href="https://github.com/GonzaloMigliore"><p class="copyright-footer-grande mx-auto mt-5" >© 2021 Copyright: Gonzalo Migliore</p></a> 
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</footer>