<head>
	<meta charset="utf-8" />
	<title>Battioli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Excelsure - Courier Service HTML Template" />
	<meta name="keywords" content="Excelsure">
	<meta name="author" content="Capricorn_Theme" />
	<meta name="MobileOptimized" content="320" />

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" type="image/icon" href="/images/favicon.ico">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<!-- Navigation CSS -->
	<link rel="stylesheet" type="text/css" href="/css/menumaker.css" />
	<!-- Animated CSS -->
	<link rel="stylesheet" type="text/css" href="/css/animate.css" />
	<!-- Owl Carousel css -->
	<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" />
	<!-- Line Awesome CSS -->
	<link rel="stylesheet" type="text/css" href="/css/line-awesome.min.css" />
	<!-- Flaticon CSS -->
	<link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
	<!-- Slicknav CSS -->
	<link rel="stylesheet" type="text/css" href="/css/slicknav.min.css" />
	<!-- Main Style CSS -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<!-- Responsive CSS -->
	<link href="/css/responsive.css" rel="stylesheet">
	


</head>