<% if (locals.usuario.roles==1) { %>
 <!-- top bar start-->
<div id="top-bar" class="top-bar-main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
              
            </div>
            <div class="col-md-6 text-right">
                <div class="top-bar-social">
                    <ul>
                        <li class="call"><i class="las la-phone-volume"></i>Llamanos: <a href="tel:" title="">+1 (305) 775 - 9044</a></li>
                      
                        <li><a href="https://www.instagram.com/battioligroup/?hl=es-la" target="_blank" title="google-plus"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top bar end-->
<!-- top-nav bar start-->
<div id="nav-bar" class="nav-bar-main-block">
    <div class="sticky-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--logo-->
                    <div class="logo">
                        <a href="/" title="logo"><img src="/images/logobattioli.png" alt="logo"></a>
                    </div>
                    <!-- Responsive Menu Area -->
                    <div class="responsive-menu-wrap"></div>
                </div>

                <div class="col-lg-7">
                    <!-- main-menu-->
                    <div class="navigation text-white">
                        <div id="cssmenu">
                            <ul>
                            
                                <li class="active"><a href="/" title="Home">Home</a>
                            
                                <li><a href="/nosotros" title="Pages">Nosotros</a>
                                
                                </li>
                                <li><a href="/servicios" title="services">Servicios</a>
                                    
                                </li>
                            
                            
                                <li><a href="/contacto" title="contact">Contacto</a>
                                </li>
                                <li><a href="/miscompras/<%= locals.usuario.id%> " title="contact">Mis compras</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="navigation-btn">
                    
                        <button class="btn btn-primary dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= locals.usuario.first_name + " " + locals.usuario.last_name%> 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item"href="/logout">Cerrar sesión</a> 
                   </ul>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top-nav bar end-->
<%} else if (!locals.usuario) {%>
 <!-- top bar start-->
 <div id="top-bar" class="top-bar-main-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="top-nav">
                    <ul>
                        <li class="login"><a href="/login" title="Login"><i class="las la-share-square"></i> Iniciar sesión </a></li>
                        <li><a href="/createuser" title="Create an account"><i class="las la-user"></i> Create una cuenta</a></li>
                    
                    </ul>
                </div>
              
            </div>
            <div class="col-md-6 text-right">
                <div class="top-bar-social">
                    <ul>
                        <li class="call"><i class="las la-phone-volume"></i>Llamanos: <a href="tel:" title="">+1 (305) 775 - 9044</a></li>
                      
                        <li><a href="https://www.instagram.com/battioligroup/?hl=es-la" target="_blank" title="google-plus"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top bar end-->
<!-- top-nav bar start-->
<div id="nav-bar" class="nav-bar-main-block">
    <div class="sticky-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--logo-->
                    <div class="logo">
                        <a href="/" title="logo"><img src="/images/logobattioli.png" alt="logo"></a>
                    </div>
                    <!-- Responsive Menu Area -->
                    <div class="responsive-menu-wrap"></div>
                </div>

                <div class="col-lg-7">
                    <!-- main-menu-->
                    <div class="navigation text-white">
                        <div id="cssmenu">
                            <ul>
                            
                                <li class="active"><a href="/" title="Home">Home</a>
                            
                                <li><a href="/nosotros" title="Pages">Nosotros</a>
                                
                                </li>
                                <li><a href="/servicios" title="services">Servicios</a>
                                    
                                </li>
                            
                            
                                <li><a href="/contacto" title="contact">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="navigation-btn">
                        <a href="/login" class="btn btn-primary" title="get quotes">INICIAR SESIÓN</a>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- top-nav bar end-->
<%} else if (locals.usuario.roles==9) {%>
        <!-- top bar start-->
	 <div id="top-bar" class="top-bar-main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					
				  
				</div>
				<div class="col-md-6 text-right">
					<div class="top-bar-social">
						<ul>
							<li class="call"><i class="las la-phone-volume"></i>Llamanos: <a href="tel:" title="">+1 (305) 775 - 9044</a></li>
							
							<li><a href="https://www.instagram.com/battioligroup/?hl=es-la" target="_blank" title="google-plus"><ion-icon name="logo-instagram"></ion-icon></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- top bar end-->
	<!-- top-nav bar start-->
	<div id="nav-bar" class="nav-bar-main-block">
		<div class="sticky-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<!--logo-->
						<div class="logo">
							<a href="/" title="logo"><img src="/images/logobattioli.png" alt="logo"></a>
						</div>
						<!-- Responsive Menu Area -->
						<div class="responsive-menu-wrap"></div>
					</div>
	
					<div class="col-lg-7">
						<!-- main-menu-->
						<div class="navigation text-white">
							<div id="cssmenu">
								<ul>
								
									<li class="active"><a href="/" title="Home">Home</a>
								
									<li><a href="/nosotros" title="Pages">Nosotros</a>
									
									</li>
									<li><a href="/servicios" title="services">Servicios</a>
										
									</li>
								
								
									<li><a href="/contacto" title="contact">Contacto</a>
									</li>
									<li><a href="/adminuser" title="contact">Administrar</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2">
						<div class="dropdown mt-3">
                          
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<%= locals.usuario.first_name + " " + locals.usuario.last_name%> 
                                </button>
                                
                           
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                             
                              <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                              
                            </ul>
                          </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>



<% } %>
