<!DOCTYPE html>

<html lang="en">

<!-- head -->

<%- include('views/partials/head.ejs') %>
<!-- end head -->

<!-- body start-->
<body>
	<!-- preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- end preloader -->
	<%- include('views/partials/navbar.ejs') %>
	<!-- home slider start-->
	<div id="home-slider" class="home-main-block owl-carousel">
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada1.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="slider-dtl">
						
							<h1 class="slider-heading text-white">Líderes en logística internacional. Compra en USA, China o Cualquier parte del mundo.	</h1>
							<div class="slider-btn ">
								<a href="/nosotros"><button type="button"  class="btn btn-white">¿Quiénes somos? <i class="las la-arrow-right"></i></button></a>
								<a href="/contacto"><button type="button" class="btn btn-dark">Contactanos <i class="las la-arrow-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada2.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<div class="slider-dtl">
					
							<h1 class="slider-heading text-white">¡Sin trámites engorrosos ni tarifas extra! Nuestra cotización es final.</h1>
							<div class="slider-btn">
								<a href="/nosotros"><button type="button"  class="btn btn-white">¿Quiénes somos? <i class="las la-arrow-right"></i></button></a>
								<a href="/contacto"><button type="button" class="btn btn-dark">Contactanos <i class="las la-arrow-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada3.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-md-10">
						<div class="slider-dtl">
							
							<h1 class="slider-heading text-white">¡Medios de Pago Disponibles! Escribinos
							</h1>
							<div class="slider-btn">
								<a href="/nosotros"><button type="button"  class="btn btn-white">¿Quiénes somos? <i class="las la-arrow-right"></i></button></a>
								<a href="/contacto"><button type="button" class="btn btn-dark">Contactanos <i class="las la-arrow-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- home slider end-->
	<!-- start about -->
	<div id="about" class="about-main-block  mt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-01.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 01</div>
								<div class="about-point-text">¡Registrate!</div>
							</div>
						</div>
						<div class="number">01</div>
						<div class="about-type">
							<p>
								Crea tu perfil totalmente GRATIS y recibe tu dirección personalizada para comenzar tus compras. 
								&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
								&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
							
								</p>
						
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-02.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 02</div>
								<div class="about-point-text">Comprá</div>
							</div>
						</div>
						<div class="number">02</div>
						<div class="about-type">
							<p>
								Selecciona de tus tiendas favoritas en cualquier parte del mundo y envía a la dirección que recibió al registrarse. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
								</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-03.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 03</div>
								<div class="about-point-text">Recibe tu compra</div>
							</div>
						</div>
						<div class="number">03</div>
						<div class="about-type">
							<p>Olvídate de los trámites engorrosos, nosotros nos ocupamos por vos! Te vamos a alertar cuando tus paquetes sean recibidos en nuestra sucursal y coordinamos la entrega. </p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="section text-left">
						<h1 class="section-heading">1000+ Experiencias <br>en trámites aduaneros</h1>
					
					</div>
					<div class="about-dtl">
						<div class="row">
							<div class="col-lg-2">
								<div class="about-icon">
									<img src="images/icons/about-01.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="about-sub-heading">
									<h4 class="about-heading">Cómodo</h4>
									<p>Evita esos tramites aduaneros engorrosos que son agotadores ¡Nosotros nos ocupamos por vos! </p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="about-icon">
									<img src="images/icons/about-02.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="about-sub-heading">
									<h4 class="about-heading">Simple</h4>
									<p>Todo lo que siempre quisiste y nunca pudiste tener, ¡ahora al alcance de tus manos con un simple click!
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-6 text-right">
					<div class="about-img">
						<img src="images/about/pago1.png" class="img-fluid" alt="about-img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about end-->

	<!-- -Services start-->
	<div id="services" class="services-main-block">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-4">
					<div class="services-dtl">
						<div class="section">
							<h1 class="section-heading text-white">Nuestros servicios</h1>
							<p>Vos compras, nosotros nos ocupamos del resto. De cualquier parte del mundo hasta la puerta de tu casa. !Enviamos a todas las provincias! 
							</p>
						</div>
						<a href="/servicios" class="btn btn-secondary" title="read more">Ver más<i class="las la-arrow-right"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="service-block" style="background-image: url('images/bg/plane.png')">
						<div class="overlay-bg"></div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
												<ion-icon style="color: #f8a555; font-size: 3.5rem;" name="airplane-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="standard courier">Envíos aéreos</a></h4>
												<p>Contamos con dos salidas semanales aéreas, listas para embarcar lo que necesites.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
											
												<ion-icon  style="color: #f8a555; font-size: 3.5rem;" name="boat-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="express courier">Envíos maritimos</a></h4>
												<p>Contamos con una salida marítima mensual, conveniente en ciertos casos para cargas con más volumen .
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
												<ion-icon  style="color: #f8a555; font-size: 3.5rem;"  name="card-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="door to door courier">Departamento de compras</a></h4>
												<p>Te ayudamos a comprar con los precios más convenientes.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 ">
								<div class="service-dtl-icon ">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon mb-5">
												<i  style="color: #f8a555" style="font-size: 3.5rem;" class="flaticon-cart"></i>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="ware housing courier">Servicio de almacenamiento</a></h4>
												<p>Brindamos servicios de almacenamiento en depósitos habilitados.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services end-->

	<!-- features start -->
	<div id="features" class="features-main-block" style="background-image: url('images/bg/best-bg.jpg')">
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">Siempre damos lo mejor</h1>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="Real Time Status"><img src="images/feature/atencion.png" class="img-fluid-img" alt="Real Time Status"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Innovation">Atención personalizada</a>
							</div>
							<h4 class="features-heading"><a href="#" title="Real Time Status">Atención personalizada</a></h4>
							<p>Contamos con una atención personalizada</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="Expert Help"><img src="images/feature/cotizaciones.png" class="img-fluid-img" alt="Expert Help"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Service">Cotizaciones instantaneas</a>
							</div>
							<h4 class="features-heading"><a href="#" title="Expert Help">Cotizaciones instantaneas</a></h4>
							<p>Hacé tu consulta y te cotizamos al instante! No dude en preguntar!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="No Hidden Fees"><img src="images/feature/tramites.png" class="img-fluid-img" alt="No Hidden Fees"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Simplicity">Simplicidad</a>
							</div>
							<h4 class="features-heading"><a href="#" title="No Hidden Fees">No mas tramites</a></h4>
							<p>Evita esos tramites aduaneros engorrosos que son agotadores ¡Nosotros nos ocupamos por vos!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- features end-->

	<!-- facts start-->
	<div id="facts" class="facts-main-block" style="background-image: url('images/bg/facts-bg.png')">
		<div class="container">
			<div class="row no-gutters text-white">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">1000</h1><span>+</span>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Clientes satisfechos</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">2</h1>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Oficinas</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">3</h1>
						<div class="facts-dtl">Paises cubiertos</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">4.6</h1>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Reviews</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- facts end-->

	<!-- testimonial start-->
	<div id="testimonial" class="testimonial-main-block" style="background-image: url('images/bg/clients.jpg')">
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">¿Qué dicen nuestros clientes?</h1>
			</div>
			<div id="testimonial-block-slider" class="testimonial-block-slider owl-carousel">
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/clara.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“ Excelente servicio; es una gran y confiable alternativa para compras internacionales. Súper recomendable.
						”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>

						</ul>
					</div>
					<div class="testimonial-name">Clara Z.</div>
				</div>
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/fede.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“ ¡Gran servicio!
						Muy eficientes y amables.
						 ”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
						</ul>
					</div>
					<div class="testimonial-name">Federico T.
					</div>
				</div>
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/abel.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“Servicio rápido y eficiente. Se me brindó soporte en todo momento de la transacción. Lo recibí en la puerta de mi casa sin ningún tipo de problema.
						”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
						</ul>
					</div>
					<div class="testimonial-name">Abel P.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial end-->




	
	<!-- clients start-->
	<div id="clients" class="clients-main-block">
		<div class="container">
			<div class="row">
				<div id="clients-slider" class="clients-slider owl-carousel">
					<div class="item-clients-img">
						<img src="images/marcas/Apple.png" class="img-fluid" alt="clients-1">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Best_Buy.png" class="img-fluid" alt="clients-2">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Boxy_Charm.png" class="img-fluid" alt="clients-3">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Carters.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Do_Terra.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Ebay.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Gap.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/H_M.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Sascha_Fitness.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/Uniqlo.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/marcas/VS.png" class="img-fluid" alt="clients-4">
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- clients end-->

	<!-- Quotation start-->
	<div id="quotation" class="quotation-main-block" style="background-image: url('images/bg/consult-bg.jpg')">
		<div class="overlay-bg"></div>
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">Hacé tu consulta!</h1>
			</div>
			<div class="quotation-block">
				<form class="quotation-form" method="post">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="form-group">
								<label for="name">Nombre</label>
								<input type="text" class="form-control" id="name" placeholder="Nombre completo" required>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email" required>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="phone">Teléfono</label>
								<input type="text" class="form-control" id="phone" placeholder="Número de tel." required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<div class="form-group">
								<label for="phone">Consulta</label>
								<input type="text" class="form-control" id="phone" placeholder="Consulta" required>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="request-button">
								<button type="submit" class="btn btn-primary">Enviar<i class="las la-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</form>
				<div class="quotation-dtl text-white">
					<p><i class="las la-mobile"></i>We are available at Mon-Fri call us<a href="tel:" title="contact no."> + 212-4000-300</a> during regular business hours</p>
				</div>
			</div>
		</div>
	</div>
	<!-- quotation end-->
<!-- footer start-->
<%- include('views/partials/footer.ejs') %>
<!-- footer end-->

	<!-- Scroll Top Area -->
	<a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>

	<!-- Jquery Library -->
	<script src="js/jquery-2.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="js/bootstrap.bundle.js"></script>
	<!-- Owl Carousel js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Smooth Scroll Js -->
	<script src="js/smooth-scroll.js"></script>
	<!-- Navigation JS -->
	<script src="js/menumaker.js"></script>
	<!-- Way Points JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script src="js/jquery.counterup.js"></script>
	<!-- Sticky JS -->
	<script src="js/jquery.sticky.js"></script>
	<!-- Slicknav JS -->
	<script src="js/jquery.slicknav.min.js"></script>
	<!-- Mail Chimp JS -->
	<script src="vendor/mailchimp/jquery.ajaxchimp.js"></script>
	<!-- Main JS -->
	<script src="js/theme.js"></script>
	<!-- end JS -->
    <!-- ioncons -->
    <script  src = "https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
	<!-- ionicons -->

</body>
<!-- body end -->

</html>
