<!DOCTYPE html>

<html lang="en">

<!-- head -->

<%- include('partials/head.ejs') %>
<!-- end head -->

<!-- body start-->
<body>
	<!-- preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- end preloader -->
	<%- include('partials/navbar.ejs') %>
	<!-- home slider start-->
	<div id="home-slider" class="home-main-block owl-carousel">
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada1.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<div class="slider-dtl">
							<div class="slider-sub-heading text-white">Welcome to the Excelsure Courier</div>
							<h1 class="slider-heading text-white">Since 1980 we are experts in the global industry</h1>
							<div class="slider-btn">
								<button type="button" class="btn btn-white">Our Solutions <i class="las la-arrow-right"></i></button>
								<button type="button" class="btn btn-dark">Contact Us <i class="las la-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada2.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<div class="slider-dtl">
							<div class="slider-sub-heading text-white">Service since 1980</div>
							<h1 class="slider-heading text-white">We are Top Courier &amp; Mover Service in Worldwide</h1>
							<div class="slider-btn">
								<button type="button" class="btn btn-white">Our Solutions <i class="las la-arrow-right"></i></button>
								<button type="button" class="btn btn-dark">Contact Us<i class="las la-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item home-slider-bg" style="background-image: url('images/slider/portada3.jpg')">
			<div class="overlay-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<div class="slider-dtl">
							<div class="slider-sub-heading text-white">Welcome to the Excelsure Courier</div>
							<h1 class="slider-heading text-white">We provide Best Dispatch &amp; Parcel Services</h1>
							<div class="slider-btn">
								<button type="button" class="btn btn-white">¿Quienes sómos? <i class="las la-arrow-right"></i></button>
								<button type="button" class="btn btn-dark">Contactate!<i class="las la-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- home slider end-->
	<!-- start about -->
	<div id="about" class="about-main-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-01.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 01</div>
								<div class="about-point-text">¡Registrate!</div>
							</div>
						</div>
						<div class="number">01</div>
						<div class="about-type">
							<p>
								Crea tu perfil totalmente GRATIS y recibe tu dirección personalizada para comenzar tus compras. 
								&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
								&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
							
								</p>
						
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-02.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 02</div>
								<div class="about-point-text">Comprá</div>
							</div>
						</div>
						<div class="number">02</div>
						<div class="about-type">
							<p>
								Selecciona de tus tiendas favoritas en cualquier parte del mundo y envía a la dirección que recibió al registrarse. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
								</p>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="about-block">
						<div class="about-points-block">
							<div class="about-points-icon">
								<img src="images/icons/apply-03.png" class="img-fluid" alt="home-icon">
							</div>
							<div class="about-point-dtl">
								<div class="about-point-heading">Paso 03</div>
								<div class="about-point-text">Recibe tu compra</div>
							</div>
						</div>
						<div class="number">03</div>
						<div class="about-type">
							<p>Olvídate de los trámites engorrosos, nosotros nos ocupamos por vos! Te vamos a alertar cuando tus paquetes sean recibidos en nuestra sucursal y coordinamos la entrega. </p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="section text-left">
						<h1 class="section-heading">1000+ Experiencias <br>en trámites aduaneros</h1>
					
					</div>
					<div class="about-dtl">
						<div class="row">
							<div class="col-lg-2">
								<div class="about-icon">
									<img src="images/icons/about-01.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="about-sub-heading">
									<h4 class="about-heading">Cómodo</h4>
									<p>Evita esos tramites aduaneros engorrosos que son agotadores ¡Nosotros nos ocupamos por vos! </p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="about-icon">
									<img src="images/icons/about-02.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="about-sub-heading">
									<h4 class="about-heading">Simple</h4>
									<p>Todo lo que siempre quisiste y nunca pudiste tener, ¡ahora al alcance de tus manos con un simple click!
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-6 text-right">
					<div class="about-img">
						<img src="images/about/pago1.png" class="img-fluid" alt="about-img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about end-->

	<!-- -Services start-->
	<div id="services" class="services-main-block">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-4">
					<div class="services-dtl">
						<div class="section">
							<h1 class="section-heading text-white">Nuestros servicios</h1>
							<p>Vos compras, nosotros nos ocupamos del resto. De cualquier parte del mundo hasta la puerta de tu casa. !Enviamos a todas las provincias! 
							</p>
						</div>
						<a href="/servicios" class="btn btn-secondary" title="read more">Ver más<i class="las la-arrow-right"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="service-block" style="background-image: url('images/bg/plane.png')">
						<div class="overlay-bg"></div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
												<ion-icon style="color: #f8a555; font-size: 3.5rem;" name="airplane-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="standard courier">Envíos aéreos</a></h4>
												<p>Contamos con dos salidas semanales aéreas, listas para embarcar lo que necesites.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
											
												<ion-icon  style="color: #f8a555; font-size: 3.5rem;" name="boat-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="express courier">Envíos maritimos</a></h4>
												<p>Contamos con una salida marítima mensual, conveniente en ciertos casos para cargas con más volumen .
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="service-dtl-icon">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon">
												<ion-icon  style="color: #f8a555; font-size: 3.5rem;"  name="card-outline"></ion-icon>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="door to door courier">Departamento de compras</a></h4>
												<p>Te ayudamos a comprar con los precios más convenientes.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 ">
								<div class="service-dtl-icon ">
									<div class="row">
										<div class="offset-xl-2 col-lg-2">
											<div class="service-icon mb-5">
												<i  style="color: #f8a555" style="font-size: 3.5rem;" class="flaticon-cart"></i>
											</div>
										</div>
										<div class="offset-lg-2 offset-xl-0 col-lg-8">
											<div class="service-dtl">
												<h4 class="service-heading"><a href="services-details.html" title="ware housing courier">Servicio de almacenamiento</a></h4>
												<p>Brindamos servicios de almacenamiento en depósitos habilitados.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services end-->

	<!-- features start -->
	<div id="features" class="features-main-block" style="background-image: url('images/bg/best-bg.jpg')">
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">Siempre damos lo mejor</h1>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="Real Time Status"><img src="images/feature/atencion.png" class="img-fluid-img" alt="Real Time Status"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Innovation">Atención personalizada</a>
							</div>
							<h4 class="features-heading"><a href="#" title="Real Time Status">Atención personalizada</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="Expert Help"><img src="images/feature/cotizaciones.png" class="img-fluid-img" alt="Expert Help"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Service">Cotizaciones instantaneas</a>
							</div>
							<h4 class="features-heading"><a href="#" title="Expert Help">Cotizaciones instantaneas</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="features-block">
						<div class="features-img">
							<a href="#" title="No Hidden Fees"><img src="images/feature/tramites.png" class="img-fluid-img" alt="No Hidden Fees"></a>
						</div>
						<div class="features-dtl">
							<div class="features-meta">
								<a href="#" title="Simplicity">Simplicidad</a>
							</div>
							<h4 class="features-heading"><a href="#" title="No Hidden Fees">No mas tramites</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- features end-->

	<!-- facts start-->
	<div id="facts" class="facts-main-block" style="background-image: url('images/bg/facts-bg.png')">
		<div class="container">
			<div class="row no-gutters text-white">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">1000</h1><span>+</span>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Clientes satisfechos</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">2</h1>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Oficinas</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">3</h1>
						<div class="facts-dtl">Paises cubiertos</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="facts-block text-center mrg-btm-30">
						<h1 class="facts-heading text-white counter">4.6</h1>
						<div class="facts-heading-sign text-white"></div>
						<div class="facts-dtl">Reviews</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- facts end-->

	<!-- testimonial start-->
	<div id="testimonial" class="testimonial-main-block" style="background-image: url('images/bg/clients.jpg')">
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">¿Qué dicen nuestros clientes?</h1>
			</div>
			<div id="testimonial-block-slider" class="testimonial-block-slider owl-carousel">
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/clara.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“ Excelente servicio; es una gran y confiable alternativa para compras internacionales. Súper recomendable.
						”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>

						</ul>
					</div>
					<div class="testimonial-name">Clara Z.</div>
				</div>
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/fede.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“ ¡Gran servicio!
						Muy eficientes y amables.
						 ”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
						</ul>
					</div>
					<div class="testimonial-name">Federico T.
					</div>
				</div>
				<div class="item testimonial-dtl">
					<div class="testimonial-client-img">
						<img src="images/testimonial/abel.png" class="img-fluid" alt="testimonial">
						<i class="las la-quote-right"></i>
					</div>
					<p>“Servicio rápido y eficiente. Se me brindó soporte en todo momento de la transacción. Lo recibí en la puerta de mi casa sin ningún tipo de problema.
						”</p>
					<div class="rating">
						<ul>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
							<li><i class="las la-star"></i></li>
						</ul>
					</div>
					<div class="testimonial-name">Abel P.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial end-->

	<!-- app start-->
	<div id="our-app" class="our-app-main-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="app-dtl">
						<div class="section">
							<h1 class="section-heading">Download Our App</h1>
							<p>There anyone who loves or pursues nor desires to obtain pain occasionally can packages as their default.</p>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="download-icon">
									<img src="images/icons/app-1.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="app">End to End Facilitation</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="download-icon">
									<img src="images/icons/app-2.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="app">Real Time Updates &amp; Tracking</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="download-icon">
									<img src="images/icons/app-3.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="app">Safety, Security, Confidentiality</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="download-icon">
									<img src="images/icons/app-4.png" class="img-fluid" alt="about-img">
								</div>
							</div>
							<div class="col-lg-10">
								<div class="app">Save Time &amp; Effort</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 text-right">
					<div class="download-img">
						<img src="images/app-mockup.png" class="img-fluid" alt="about-img">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- app end-->


	
	<!-- clients start-->
	<div id="clients" class="clients-main-block">
		<div class="container">
			<div class="row">
				<div id="clients-slider" class="clients-slider owl-carousel">
					<div class="item-clients-img">
						<img src="images/clients/01.png" class="img-fluid" alt="clients-1">
					</div>
					<div class="item-clients-img">
						<img src="images/clients/02.png" class="img-fluid" alt="clients-2">
					</div>
					<div class="item-clients-img">
						<img src="images/clients/03.png" class="img-fluid" alt="clients-3">
					</div>
					<div class="item-clients-img">
						<img src="images/clients/04.png" class="img-fluid" alt="clients-4">
					</div>
					<div class="item-clients-img">
						<img src="images/clients/05.png" class="img-fluid" alt="clients-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- clients end-->

	<!-- Quotation start-->
	<div id="quotation" class="quotation-main-block" style="background-image: url('images/bg/consult-bg.jpg')">
		<div class="overlay-bg"></div>
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">Hacé tu consulta!</h1>
			</div>
			<div class="quotation-block">
				<form class="quotation-form" method="post">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="form-group">
								<label for="name">Nombre</label>
								<input type="text" class="form-control" id="name" placeholder="Nombre completo" required>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email" required>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<label for="phone">Teléfono</label>
								<input type="text" class="form-control" id="phone" placeholder="Número de tel." required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<div class="form-group">
								<label for="phone">Consulta</label>
								<input type="text" class="form-control" id="phone" placeholder="Consulta" required>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="request-button">
								<button type="submit" class="btn btn-primary">Enviar<i class="las la-arrow-right"></i></button>
							</div>
						</div>
					</div>
				</form>
				<div class="quotation-dtl text-white">
					<p><i class="las la-mobile"></i>We are available at Mon-Fri call us<a href="tel:" title="contact no."> + 212-4000-300</a> during regular business hours</p>
				</div>
			</div>
		</div>
	</div>
	<!-- quotation end-->
	<!-- footer start-->
	<footer id="footer" class="footer-main-block">
		<div class="container">
			<div class="row text-white">
				<div class="col-lg-3 col-sm-6">
					<div class="about-widget footer-widget">
						<div class="logo-footer">
							<a href="index.html" title="logo"><img src="images/logobattioli.png" alt="logo"></a>
						</div>
						<p>There anyone who loves or pursues not some great to have pleasure.</p>
						<div class="row">
							<div class="col-lg-2">
								<div class="footer-icon">
									<i class="las la-home"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="footer-address">Corporate Office</div>
								<div class="footer-address-dtl">3029A, Melbourne, Australia</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2">
								<div class="footer-icon">
									<i class="las la-phone"></i>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="footer-address">Reach Us</div>
								<div class="footer-address-dtl">+4 123 123 4555 8888</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="courier-type-widget footer-widget mrg-btm-30">
						<h6 class="footer text-white">Courier Types</h6>
						<div class="footer-list">
							<ul>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i> Standard</a></li>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i> Express</a></li>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i>International</a></li>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i>Ware Housing</a></li>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i>Overnight</a></li>
								<li><a href="services-details.html" title="link"><i class="las la-arrow-circle-right"></i>Pallet</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="recent-news-widget footer-widget mrg-btm-30">
						<h6 class="footer text-white">Recent News</h6>
						<div class="row">
							<div class="col-lg-4 col-sm-3">
								<div class="footer-img">
									<a href="blog-detail.html" title="blog"><img src="images/footer/recent-news-01.jpg" class="img-fluid" alt="blog"></a>
								</div>
							</div>
							<div class="col-lg-8 col-sm-9">
								<div class="recent-news-footer">
									<a href="blog-detail.html" title="link">
										<p>It is a long established fat that a reader.</p>
									</a>
									<div class="date-footer"><i class="las la-calendar"></i> 2 Days ago</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-4 col-sm-3">
								<div class="footer-img">
									<a href="blog-detail.html" title="link"><img src="images/footer/recent-news-02.jpg" class="img-fluid" alt="blog"></a>
								</div>
							</div>
							<div class="col-lg-8 col-sm-9">
								<div class="recent-news-footer">
									<a href="blog-detail.html" title="link">
										<p>By injected humour or van randomised words</p>
									</a>
									<div class="date-footer"><i class="las la-calendar"></i> 2 Days ago</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="news-widget footer-widget mrg-btm-30">
						<h6 class="footer text-white">Newsletter</h6>
						<p>Sign up to our courier point for surveys recent updates &amp; offers.</p>
						<form id="subscribe-form" class="footer-form">
							<div class="form-group">
								<input type="email" id="mc-email" class="form-control" placeholder="Email Address" required>
							</div>
							<button type="submit" class="btn btn-primary" title="subscribe">Subscribe</button>
							<label for="mc-email"></label>
						</form>
						<div class="footer-social">
							<ul>
								<li>Follow Us :</li>
								<li><a href="https://facebook.com/" target="_blank" title="facebook"><i class="lab la-facebook-f"></i></a></li>
								<li><a href="https://twitter.com/" target="_blank" title="twitter"><i class="lab la-twitter"></i></a></li>
								<li><a href="https://plus.google.com" target="_blank" title="linked-in"><i class="lab la-linkedin-in"></i></a></li>
								<li><a href="https://youtube.com" target="_blank" title="youtube"><i class="lab la-youtube"></i></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tiny-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright-block">
							<p>&copy; 2020 <a href="index.html" title="exelsure courier service">Excelsure</a>. All Rights Reserved.</p>
						</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="copyright-social">
							<ul>
								<li class="policy"><a href="#" title="Privacy Policy">Privacy Policy </a></li>
								<li><a href="#" title="Terms &amp; Conditions"> Terms &amp; Conditions </a></li>
								<li>
								<li class="dropdown">
									<a href="#" data-toggle="dropdown" title="English"><i class="las la-globe"></i>English<i class="las la-caret-square-down"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#" title="French">French</a></li>
										<li><a href="#" title="Germany">Germany</a></li>
										<li><a href="#" title="Urdu">Bengali</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer end-->

	<!-- Scroll Top Area -->
	<a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>

	<!-- Jquery Library -->
	<script src="js/jquery-2.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="js/bootstrap.bundle.js"></script>
	<!-- Owl Carousel js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Smooth Scroll Js -->
	<script src="js/smooth-scroll.js"></script>
	<!-- Navigation JS -->
	<script src="js/menumaker.js"></script>
	<!-- Way Points JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script src="js/jquery.counterup.js"></script>
	<!-- Sticky JS -->
	<script src="js/jquery.sticky.js"></script>
	<!-- Slicknav JS -->
	<script src="js/jquery.slicknav.min.js"></script>
	<!-- Mail Chimp JS -->
	<script src="vendor/mailchimp/jquery.ajaxchimp.js"></script>
	<!-- Main JS -->
	<script src="js/theme.js"></script>
	<!-- end JS -->
    <!-- ioncons -->
    <script  src = "https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
	<!-- ionicons -->

</body>
<!-- body end -->

</html>
