<!DOCTYPE html>

<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<!-- end head -->
<!-- body start-->

<body>
	<!-- preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- end preloader -->
	<%- include('partials/navbar.ejs') %>
	<!-- Breadcroumb Area -->

	<div class="breadcroumb-area bread-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcroumb-title text-center">
						<h1>Sobre Nosotros</h1>
						<h6><a href="/">Home</a> / Nosotros</h6>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- about start-->
	<div id="about" class="about-main-block theme-2">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 col-md-12 mb-5">
					<div class="about-content">
						<h1 class="section-heading">¿Quiénes somos?</h1>
						<h5 class="wow slideInUp">Battioli Group comienza con la idea de agilizar y simplificar la logística internacional, tanto personal como comercial.</h5>
						<p class="wow slideInDown">Nuestro objetivo es poder simplificar tu experiencia como cliente internacional. Tan solo vos realizas la compra y nosotros nos ocupamos del resto. 

							Nos reconocemos como expertos en proveer el mejor servicio para tus necesidades, desde tu pequeña compra online (e-commerce) como repuestos industriales especializados. 
							
							
							No dudes en conversar con nuestro equipo experto para aclarar cualquier tipo de duda y aprender más sobre lo que podemos ofrecer. 
							</p>
				
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- about end-->





	
	<!-- footer start-->
	<%- include('partials/footer.ejs') %>
	<!-- footer end-->

	<!-- Scroll Top Area -->
	<a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>

	<!-- Jquery Library -->
	<script src="js/jquery-2.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="js/bootstrap.bundle.js"></script>
	<!-- Owl Carousel js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Smooth Scroll Js -->
	<script src="js/smooth-scroll.js"></script>
	<!-- Navigation JS -->
	<script src="js/menumaker.js"></script>
	<!-- Way Points JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script src="js/jquery.counterup.js"></script>
	<!-- Sticky JS -->
	<script src="js/jquery.sticky.js"></script>
	<!-- Slicknav JS -->
	<script src="js/jquery.slicknav.min.js"></script>
	<!-- Mail Chimp JS -->
	<script src="vendor/mailchimp/jquery.ajaxchimp.js"></script>
	<!-- Main JS -->
	<script src="js/theme.js"></script>
	<!-- end JS -->

</body>
<!-- body end -->

</html>
