<!DOCTYPE html>

<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<!-- end head -->
<!-- body start-->

<body>
	<!-- preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- end preloader -->

	<%- include('partials/navbar.ejs') %>

	<!-- Breadcroumb Area -->

	<div class="breadcroumb-area bread-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcroumb-title text-center">
						<h1>Servicios</h1>
						<h6><a href="/">Home</a> / Servicios</h6>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- services start -->
	<div id="service-detail" class="services-main-block-3">
		<div class="container">
			<div class="section text-center">
				<h1 class="section-heading">Nuestros servicios</h1>
			</div>
			<div class="row">
			
				<div class="col-lg-4}6 col-md-6 col-sm-12">
					<div class="services-block-2">
						<div class="services-img">
							<a href="#" title="Expert Help"><img src="images/slider/portada1.jpg" class="img-fluid-img" alt="Expert Help"></a>
						</div>
						<div class="services-dtl-2">
							<div class="services-meta">
								<a href="#" title="Service">02</a>
							</div>
							<h4 class="services-heading"><a href="#" title="door to door">Door to Door</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
							<a href="#" class="btn btn-link">Read More<i class="las la-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="services-block-2">
						<div class="services-img">
							<a href="#" title="No Hidden Fees"><img src="images/slider/portada2.jpg" class="img-fluid-img" alt="No Hidden Fees"></a>
						</div>
						<div class="services-dtl-2">
							<div class="services-meta">
								<a href="#" title="Simplicity">03</a>
							</div>
							<h4 class="services-heading"><a href="#" title="express courier">Express Courier</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
							<a href="#" class="btn btn-link">Read More<i class="las la-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="services-block-2">
						<div class="services-img">
							<a href="#" title="Real Time Status"><img src="images/service/04.jpg" class="img-fluid-img" alt="Real Time Status"></a>
						</div>
						<div class="services-dtl-2">
							<div class="services-meta">
								<a href="#" title="Innovation">04</a>
							</div>
							<h4 class="services-heading"><a href="#" title="ware house">Ware House</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
							<a href="#" class="btn btn-link">Read More<i class="las la-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="services-block-2">
						<div class="services-img">
							<a href="#" title="Expert Help"><img src="images/service/05.jpg" class="img-fluid-img" alt="Expert Help"></a>
						</div>
						<div class="services-dtl-2">
							<div class="services-meta">
								<a href="#" title="Service">05</a>
							</div>
							<h4 class="services-heading"><a href="#" title="door to door">Pallet</a></h4>
							<p>It is a long established fact that and reader will by the readable based of content page banned.</p>
							<a href="#" class="btn btn-link">Read More<i class="las la-arrow-right"></i></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	
	<!-- footer start-->
	<%- include('partials/footer.ejs') %>
	<!-- footer end-->

	<!-- Scroll Top Area -->
	<a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>

	<!-- Jquery Library -->
	<script src="js/jquery-2.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="js/bootstrap.bundle.js"></script>
	<!-- Owl Carousel js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Smooth Scroll Js -->
	<script src="js/smooth-scroll.js"></script>
	<!-- Navigation JS -->
	<script src="js/menumaker.js"></script>
	<!-- Way Points JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script src="js/jquery.counterup.js"></script>
	<!-- Sticky JS -->
	<script src="js/jquery.sticky.js"></script>
	<!-- Slicknav JS -->
	<script src="js/jquery.slicknav.min.js"></script>
	<!-- Mail Chimp JS -->
	<script src="vendor/mailchimp/jquery.ajaxchimp.js"></script>
	<!-- Main JS -->
	<script src="js/theme.js"></script>
	<!-- end JS -->

</body>
<!-- body end -->

</html>
